.response_card {
    border-style: solid;
    border-color: purple;
    box-shadow: 0 0 15px purple;
    border-radius: 5%;
    font-size: large;
    width: 400px;
   margin:20px;
   min-height:150px;
   padding:15px;
   
    
   



}

main {
    margin-left: 15pt;
    margin-right: 15pt;

}
.response_cont{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.photo{
    background:url("https://plus.unsplash.com/premium_photo-1679162280486-8736450a253a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGdyYWR1YXRlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60")center no-repeat;
    width:100px;
    height:100px;
    border-radius:50%;
    background-size:cover;
}.photo1{
    background:url("https://images.unsplash.com/photo-1495995424756-6a5a3f9e7543?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80")center no-repeat;
    width:100px;
    height:100px;
    border-radius:50%;
    background-size:cover;

}
.photo2{
    background:url("https://images.unsplash.com/photo-1603764377193-75b991876878?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80")center no-repeat;
    width:100px;
    height:100px;
    border-radius:50%;
    background-size:cover;
}
@media screen and (max-width:450px){
    .photo{
        display:none;
    }
    .photo2{
        display:none;
    }
    .photo1{
        display:none;
    }
}
    